<div id="<%= dom_id property %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= property.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Property type:</strong>
    <%= property.property_type_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rooms:</strong>
    <%= property.rooms %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Area:</strong>
    <%= property.area %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cost:</strong>
    <%= property.cost %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= property.location_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Main photo 1:</strong>
    <%= property.main_photo_1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Main photo 2:</strong>
    <%= property.main_photo_2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Main photo 3:</strong>
    <%= property.main_photo_3 %>
  </p>

</div>
