<!DOCTYPE html>
<html>
  <head>
    <title>TailApp</title>
    <%# <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= csrf_meta_tags %>

    <%# <%= render 'shared/header' %> 
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'bundles/bundle', defer: true %>
</html>